<script src="../../assets/js/custom.js"></script>
<style>
  .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .button1 {background-color: #94f097;} /* Green */

  </style>
<h2 style="text-align: center;">{{source_language}}</h2>
<textarea  id = "input_txt" name="input_txt" #input_txt style="background-color:#02f3e5;
border-radius:4px;
font-size:16px;
padding:15px;
display: block;
margin:auto;
width:600px;
height:70px;
margin-bottom: 50px;" placeholder={{input_text_placeholder}}>
</textarea>
<button  (click)="onClick(input_txt.value)" id ="translate_btn" class="button button1" style="display: block;
margin:auto; margin-bottom: 40px;">TRANSLATE</button>
<button  (click)="changeLanguage()" id ="change_language_btn" class="button button1" style="display: block;
margin:auto; margin-bottom: 40px;">&#8597;</button>
<h2 style=" text-align: center;">{{target_language}}</h2>
<textarea id="translate_txt" style="background-color:#02f3e5;
border-radius:4px;
font-size:16px;
padding:15px;
display: block;
margin-top:50px;
margin:auto;
width:600px;
height:70px;"> {{text}}
</textarea>

<router-outlet></router-outlet>
